<div class="container-fluid p-0">
  <div class="row">
    <img
      src="assets/images/shelties-playing-snow.jpg"
      srcset="
        assets/images/shelties-playing-snow-sm.jpg 1034w,
        assets/images/shelties-playing-snow.jpg    2926w
      "
      sizes="100vw"
      class="snowdogs"
      alt="Sheltie dogs and puppies running and playing in the snow"
    />
  </div>
</div>
<div class="container-fluid" style="max-width: 1200px">
  <div class="row mt-4">
    <div class="col-lg-1"></div>
    <div class="col-lg-7 mx-3">
      <p>We are a small breed kennel located in Dewy Rose Georgia.</p>

      <p>
        I dreamed of owning Shelties since I was young. I knew the commitment
        would take a lot of time so I decided to raise a family before starting
        my endeavor. When my youngest child took an interest in dogs through the
        4-H program we set out to adopt our first Sheltie.
      </p>
      <p>
        We started out the same way we all start out in dogs; finding the one
        dog (or more appropriately, the one finding us) that simply changed our
        heart and soul forever. We found our first Sheltie, DJ, and although he
        was not a comformation dog, he and Mitchell created a bond that was
        instant and ran incredibly deep. They went on to compete in obedience
        and rally and won several titles in the 4-H program. During our time in
        4-H, we were introduced to conformation shows and the rest, as they say,
        was history.
      </p>
    </div>
    <div class="col-lg-3 my-top">
      <img
        src="assets\images\puppy.jpg"
        alt="Fluffy Sheltie puppy that is about 6 weeks old on a white blanket"
        class="rounded w-100"
      />
    </div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 mx-3">
      <p>
        The Shetland Sheepdog is intensely loyal, affectionate, and responsive
        to his owner. At Aspenleaf Shelties we strive to produce puppies with
        the melting expression and wonderfully sweet personalities that the
        Sheltie is known for. We have devoted our life to raising and showing
        these wonderful dogs, but do not take that lightly. I research
        pedigrees, study temperaments, and stay up to date with the latest
        health tests to ensure each new generation is an improvement over the
        last.
      </p>
      <p>
        Like many other Sheltie breeders, we believe in the importance of health
        and testing of our dogs. Health and temperament rank among our highest
        concerns when breeding Shelties. The shy Sheltie is now a characteristic
        of the past, because we carefully choose the Sire and Dam with the
        characteristics that we strive to have in our home. All Aspenleaf adult
        Shelties are tested for hips OFA, vWD, Thyroid, DMS and Eye
        certification.
      </p>
      <p>We are members in good standing of the following clubs:</p>
      <p>
        Cenntennial Shetland Sheepdog Club
        <br />
        American Shetland Sheepdog Association
        <br />
        We are also Breeders of Merit with American Kennel Club.
      </p>
      <p>
        We are very thankful for both the dogs and the people we have met along
        our journey. We have developed many friendships with our puppy buyers
        and love seeing both them and their dogs when they come to visit.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid p-0">
  <div class="row">
    <img
      src="assets\images\dewy_rose_hose.jpg"
      alt="arial view of AspenLeaf Shelties Home and Kennel in Dewy Rose Georgia"
      class="w-100"
    />
  </div>
</div>
