<footer class="section section--tight site-footer">
  <div class="container cluster footer-links">
    <a routerLink="/home">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/available">Puppies</a>
    <a routerLink="/our-shelties">Our Shelties</a>
    <a routerLink="/faq">FAQ</a>
    <a routerLink="/resources">Resources</a>
    <a
      class="social-icon-link"
      href="https://www.facebook.com/aspenleafshelties"
      target="_blank"
      rel="noreferrer"
      aria-label="Aspenleaf Shelties on Facebook"
      title="Aspenleaf Shelties on Facebook"
    >
      <svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
        <rect x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
        <path
          d="M13.9 20v-5.7h1.9l.3-2.2h-2.2v-1.4c0-.7.2-1.2 1.2-1.2h1.1v-2c-.2 0-.8-.1-1.6-.1-1.6 0-2.7 1-2.7 2.8v1.9h-1.8v2.2h1.8V20h2Z"
          fill="#ffffff"
        />
      </svg>
    </a>
  </div>
</footer>
