<div class="container-fluid p-0">
    <div class="row ">
        <div class="col text-center ">
            <a href="/home">Home | </a>
            <a href="/about">About | </a>
            <a href="/puppies">Puppies | </a>
            <a href="/boys">Males | </a>
            <a href="/girls">Females | </a>
            <a href="/resources">Resources </a>
        </div>
    </div>
    <div class="col-12 mt-2 p-0">
        <img src='assets/images/shelties-playing-snow-sm.jpg'
            srcset="assets/images/shelties-playing-snow-sm.jpg 1034w,assets/images/shelties-playing-snow.jpg 2926w"
            sizes="100vw" class="w-100">
    </div>

</div>