<div class="container-fluid">
    <div class="row">
        <div class="col-12 w-100 m-0 p-0">
            <img src="assets\images\puppies_on_blanket.jpg" class="w-100">
        </div>
        <div class="col-lg-9 mx-auto aligh-items-left topinfo my-4">

            <p>
                Our puppies are home-raised, up to date on age appropriate vaccines and vet-checked prior to leaving. 
                All puppies have a two-year genetic health and temperament guarantee.
            </p>
            <img src="assets\images\puppy1.jpg" class="rounded img-fluid float-right ml-1 ml-md-1 floatingimgs">
            <p>
                We carefully screen prospective buyers, as we are looking to place our puppies in the best possible
                homes, with the understanding that the puppy is a lifetime commitment. 
                We reserve the right to refuse a sale. 
            </p> 
            <p>
            </p>
            <p>
                Email is our preferred method of first contact. <a
                    href="mailto:AspeneleafShelties@gmail.com">AspeneleafShelties@gmail.com</a> Please complete
                the
                <a href="assets/AspenLeafQuestionnaire.doc">Aspen Leaf Questionnaire</a> and send us information
                about
                yourself; what you are looking for, whether you have owned a
                dog before, or if you have any pets at the moment.  Also, please state where you live. Should
                you prefer
                to speak via phone, Our phone number is 970-623-034, please leave a message and we will contact
                you as
                soon as we are available.
            </p>
            <p>
                We are located  in Northwest Colorado about 4 hours West of Denver. We can ship to many major
                cities out
                of Denver International Airport, however, we give preference to families that are able to meet
                with us
                and pick up their puppy. 
            </p>
            <p>
                Visitation by appointment only.
            </p>
        </div>
    </div>
    <div class="row ">
        <div class="col-lg-9 mx-auto">
            <h1>
                Available
            </h1>
            <app-dogs *ngFor="let dog of dogs| async" [dog]="dog">
            </app-dogs>
        </div>
    </div>
    <div class="row">
        <div class="col-9 mx-auto aligh-items-center topinfo mt-4">
            <h1>
                Adult Companions
            </h1>
            <p>
                Nothing at the moment. Please check back soon or contact me to discuss when Companions will become
                available.
            </p>
            <p>
                We prefer to place adults with people who have owned a Sheltie before and who have completely fenced
                secure
                yards.  Phone inquiries only will be considered. 970-623-0343
            </p>
        </div>
    </div>
</div>