<div class="container">
    <div class="row">
        <div class="col-9 mx-auto aligh-items-left topinfo mt-4">
            <p>If you are interested in obtaining an available puppy, please fill out the <a
                    href="assets/AspenLeafQuestionnaire.doc">Aspen Leaf Questionnaire</a> and attach it in an email
                to <a
                    href="mailto:aspenleafshelties@gmail.com">aspenleafshelties@gmail.com</a>aspenleafshelties@gmail.com
            </p>
            <p>
                Color and markings are based on color genetics of sire and dam. Specific markings are not guaranteed.
            </p>
            <p>
                Please complete our Questionnaire for consideration of one of our Pet companions and we will be in
                contact
                when we have something available. Our puppies are from Champion bloodlines and have been genetically
                tested.
            </p>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-9 mx-auto">
            <app-dogs *ngFor="let dog of dogs| async" [dog]="dog">
            </app-dogs>
        </div>
    </div>
</div>