<div class="container-fluid">
    <div class="row">
        <div class="col-12 w-100 m-0 p-0">
            <img src="assets\images\puppies_on_blanket.jpg" class="w-100">
        </div>
        <div class="col-lg-9 mx-auto aligh-items-left topinfo my-4">
            <h1>
                Sheltie Puppies
            </h1>
            <p>
                At Aspenleaf Shelties, we breed to produce show quality dogs. Each litter is carefully planned to ensure
                sound structure, great temperament, and healthy champions.

                Our puppies are socialized as if they are show prospects. They are home-raised, up to date on age
                appropriate vaccines and vet-checked prior to leaving. 
                We guarantee our puppies to be in
                good health at the time of sale and provide a two-year
                temperament and genetic health guarantee.

            </p>

            <img src="assets\images\3_puppies.jpg" class="rounded img-fluid float-left mr-1 mr-md-4 floatingimgs"
                width="150">
            <p>
                Our companion puppies are ready to go around eight to ten weeks of age.  Our show puppies
                usually stay a while longer. Shelties are size restricted for the show
                ring and can change a lot during adolescence. As such, we
                may keep them for four to six months
                prior to placing them as pets.

                We have waiting lists for both show
                and companion puppies.   
            </p>

            <img src="assets\images\puppy1.jpg" class="rounded img-fluid float-right ml-1 ml-md-1 floatingimgs">
            <p>
                We carefully screen prospective buyers, as we are looking to place our puppies in the best possible
                homes, with the understanding that the puppy is a lifetime commitment. 
                We reserve the right to refuse a sale. 
            </p> 
            <h5>Right breed for You?</h5>
            <p>Shelties love their families, but may be reserved at first with strangers. As a herding dog, they love to
                run and play with a built in herding instinct. Being a very vocal breed they may bark if untrained.
                Shelties
                thrive
                on the farm, but adapt to many living situations if given proper exercise and attention. The breed's
                dense
                double
                coat requires regular maintenance. (Weekly to Bi-weekly brushing)
            </p>
            <h5 id=reservedog>Reserving a Sheltie</h5>
            <p>
                If you are interested in reserving a sheltie, email is our preferred method of first contact. <a
                    href="mailto:AspenleafShelties@gmail.com">AspenleafShelties@gmail.com</a> Please complete
                the
                <a href="assets/AspenLeafQuestionnaire.doc">Aspenleaf Questionnaire</a> so we can select the right
                companion for your family.
            <p> Should
                you prefer
                to speak via phone, our phone number is 970-623-0343. Please leave a message and we will contact
                you as
                soon as we are available.
            </p>
            <p>
                Visitation by appointment only.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9 mx-auto">
            <h1>
                Puppies For Sale
            </h1>
            <ng-container *ngIf="(puppies |async)?.length; else noAvailable">
                <app-dogs *ngFor="let dog of puppies| async" [dog]="dog">
                </app-dogs>
            </ng-container>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <h1>
                Adults For Sale
            </h1>
            <ng-container *ngIf="(adults | async)?.length; else noAdultAvailable">
                <app-dogs *ngFor="let dog of adults| async" [dog]="dog">

                </app-dogs>
            </ng-container>
        </div>
    </div>
    <ng-template #noAvailable>
        <p>
            We currently do not have any puppies available. If you are interested in a puppy, please inquire
            about our waitlist.
        </p>
        <p> See <a [routerLink]="[]" (click)="ScrollIntoView('#reservedog')">Reserving a Sheltie</a> above</p>
    </ng-template>
    <ng-template #noAdultAvailable>

        <p>
            We do not have any adults shelties to place at this time. Please check back here soon or contact me
            to
            discuss when companions will become available.

        </p>
        <p>
            We prefer to place adults with people who have owned a Sheltie before and who have completely
            fenced secure yards. 
        </p>
        <p> See <a [routerLink]="[]" (click)="ScrollIntoView('#reservedog')">Reserving a Sheltie</a> above</p>
    </ng-template>

</div>