rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isEditor() {
      return request.auth != null
        && request.auth.token.email != null
        && request.auth.token.email in [
          "jareddjenkins@gmail.com",
          "aspenleafshelties@gmail.com"
        ];
    }

    match /{document=**} {
      allow read: if true;
      allow write: if isEditor();
    }
  }
}
