<app-card class="card" *ngIf="dog" [dog]="dog">
</app-card>
<button style="margin-bottom: 20px;" (click)="save()">save</button>
<form [formGroup]="form" style="margin-top: 30px;">

  <mat-form-field appearance="outline">
    <mat-label>Call Name</mat-label>
    <input matInput formControlName="cname">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Registered Name</mat-label>
    <input matInput formControlName="rname">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <input matInput formControlName="comments">
  </mat-form-field>
  
  <mat-radio-group formControlName="gender" appearance="outline" >
      <mat-radio-button [value]="true">Male</mat-radio-button>
      <mat-radio-button [value]="false">Female</mat-radio-button>
  </mat-radio-group>

  <mat-form-field appearance="outline">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="datepicker" formControlName="dob">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker>
      <!-- <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
      </mat-datepicker-actions> -->
    </mat-datepicker>
  </mat-form-field>

</form>
<!-- <div class="form-group">
  <div class="input-group">
    <label for="dob">Date of Birth: {{dog.dob|date:'longDate'}}</label>
    // <div>
      // <ngb-datepicker name="dob" [(ngModel)]="dog.dob"></ngb-datepicker>
      // </div>
  </div>
  <div>
    <input type="file" (change)="fileChangeEvent($event)" accept="image/png, image/jpg, image/jpg" />
    <button type="button" (click)="onUpload()">Upload</button>

    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="160 / 160"
      [resizeToWidth]="512" format="png" outputType='base64' (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"></image-cropper>

    <img [src]="croppedImage" alt="Cropped Image" />
  </div>
</div>
</form>
</div> -->