<div class="container">
  <div class="row">
    <div class="col">
      <app-dogs *ngIf="dog" [dog]="dog">
      </app-dogs>
    </div>
  </div>
  <div class="row" *ngIf="dog">
    <div class="row">
      <div class="col">
        <button (click)="save()">save</button>
      </div>
    </div>
    <div class="col">
      <form>
        <div class="form-group">
          <label for="rname">Registered Name</label>
          <input type="text" [(ngModel)]="dog.rname" class="form-control" name="rname" id="rname"
            placeholder="Registered Name">
        </div>
        <div class="form-group">
          <label for="cname">Call Name</label>
          <input type="text" [(ngModel)]="dog.cname" class="form-control" name="cname" id="cname"
            placeholder="Call Name">
        </div>
        <div class="form-group">
          <label for="dog.comments">Description</label>
          <input type="text" [(ngModel)]="dog.comments" class="form-control" name="comments" id="comments"
            placeholder="Description">
        </div>

        <div class="form-group">
          <label for="sire">Sire</label>
          <select name="sire" [(ngModel)]="selectedSire" (change)="setSire()" class="form-control">
            <option *ngFor="let sire of sires" [ngValue]="sire">{{sire.rname}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="dam">Dam</label>
          <select name="dam" [(ngModel)]="selectedDam" nullValue (change)="setDam()" class="form-control">
            <option *ngFor="let dam of dams" [ngValue]="dam">{{dam.rname}}</option>
          </select>
        </div>

        <div class="form-group">
          <div class="input-group">
            <label for="dob">Date of Birth: {{dog.dob|date:'longDate'}}</label>
            <div>
              <ngb-datepicker name="dob" [(ngModel)]="dog.dob"></ngb-datepicker>
            </div>
          </div>
          <div>
            <input type="file" (change)="fileChangeEvent($event)" accept="image/x-png" />
            <button type="button" (click)="onUpload()">Upload</button>

            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
              [aspectRatio]="160 / 160" [resizeToWidth]="512" resizeToWidth="3840" onlyScaleDown="true" format="png"
              outputType='base64' (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
              (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>

            <img [src]="croppedImage" />
          </div>
        </div>
      </form>
    </div>
  </div>