<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 mx-auto mt-4">
      <p>We are a small breed kennel located in Craig, CO</p>
      <img src="assets\images\puppy.jpg" class="rounded img-fluid float-right ml-1 ml-md-4 floatingimgs" width="200">
      <p>We have one to two litters a year. All puppies are evaluated for structure and temperament at about 8 weeks
        old.
        <p>

          We breed our litters to produce show quality dogs. Shelites are size restricated and change

          Shelites are size restricated and change during adolescence. As such, we may keep them for four to six months
          prior to placing them as pets.
          <p>

            All our puppies will be well socialized the same as our show prospects. Our goal is to produce sound
            structure,
            great temperament and healthy champions.
          </p>
          <p>
            Occasionally we place show prospects to show homes and performance enthusiast, as well as beautiful bright
            companions.
          </p>
          <p>
            All our pet puppies are sold on a spay/neuter contract. Check our Nursery for current and planned litters
            and
            a
            puppy application.
            We join many other Sheltie breeders in the importance of health and testing of our dogs. Health and
            temperament
            rank among our highest concerns when breeding Shelties. The shy Selties is now a characteristic of the
            paste, because we choose the Sire and Dam carefully. All Aspenleaf adult Shelties are tested for hips OFA,
            vWD,
            Thyroid
            and
            Eye certification.</p>
          <p>The Shetland Sheepdog is intensely loyal, affectionate, and responsive to his owner.</p>
          <p>Right Breed for You?</p>
          <img src="assets\images\3_puppies.jpg" class="rounded img-fluid float-left mr-1 mr-md-4 floatingimgs"
            width="200">
          <p>Shelties love their families, but may be reserved at first with strangers. As a herding dog, they love to
            run
            and
            play with a built in herding instinct. Being a very vocal breed they may bark if untrained. Shelties thrive
            on
            the
            farm, but adapt to many living situations if given proper exercise and attention. The breed's dense double
            coat
            requires
            regular maintenance.(Weekly to Bi-weekly brushing)</p>
          <p>
            We breed several well thought out litters each year, and have waiting lists for both show
            and companion puppies.  Our puppies are home raised and vet checked before leaving. 
          </p>
          <p>
            Our companion puppies are ready to go around eight to ten weeks of age.  Our show puppies
            usually stay a while longer.  We carefully screen prospective buyers, as we are looking to
            place our puppies in the best possible homes, with the understanding that the puppy is a
            lifetime commitment. 
            We guarantee our puppies to be in good health at the time of sale and provide a two-year
            temperament and genetic health guarantee. 
            We are members in good standing of
            the following clubs:
          </p>
           <p>
            Cenntennial Shetland Sheepdog Club
          </p>
          <p>
            American Shetland Sheepdog Association
          </p>
          <p>
            We are also Breeders of Merit with American Kennel Club.
          </p>
    </div>
    <div class="col-12 p-0">
      <img src="assets\images\the_kennel.jpg" class="w-100">
    </div>
  </div>
</div>