<section class="admin-shell">
  <div class="admin-toolbar">
    <label class="search-field">
      <span>Search</span>
      <input
        type="text"
        [ngModel]="query"
        (ngModelChange)="onQueryChange($event)"
        placeholder="Search dogs"
        aria-label="Search dogs"
      />
    </label>

    <div class="toolbar-actions">
      <button type="button" class="secondary-button" (click)="goToPages()">
        Edit Pages
      </button>
      <button type="button" class="primary-button" (click)="createnewdog()">
        Create Dog
      </button>
    </div>
  </div>

  <div class="table-shell">
    <table>
      <thead>
        <tr>
          <th class="hide-mobile">Id</th>
          <th>Registered Name</th>
          <th class="hide-mobile">Call Name</th>
          <th class="hide-mobile">Gender</th>
          <th class="hide-mobile">Sire</th>
          <th class="hide-mobile">Dam</th>
          <th class="hide-mobile">Date of Birth</th>
          <th class="action-col">Edit</th>
        </tr>
      </thead>
      <tbody>
        @for (dog of filteredDogs | async; track dog) {
          <tr>
            <td class="hide-mobile" data-label="Id">{{ dog.id }}</td>
            <td data-label="Registered Name">{{ dog.rname }}</td>
            <td class="hide-mobile" data-label="Call Name">{{ dog.cname }}</td>
            <td class="hide-mobile" data-label="Gender">{{ dog.gender ? "Male" : "Female" }}</td>
            <td class="hide-mobile" data-label="Sire">{{ dog.sireName }}</td>
            <td class="hide-mobile" data-label="Dam">{{ dog.damName }}</td>
            <td class="hide-mobile" data-label="Date of Birth">{{ dog.dob | date: "shortDate" }}</td>
            <td class="action-col">
              <a class="icon-link" [routerLink]="['/admin/editdog', dog.id]" routerLinkActive="active">
                <mat-icon>edit</mat-icon>
              </a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
