<section class="admin-shell">
  <div class="admin-toolbar">
    <label class="search-field">
      <span>Search</span>
      <input
        type="text"
        [(ngModel)]="query"
        placeholder="Search dogs"
        aria-label="Search dogs"
      />
    </label>

    <div class="toolbar-actions">
      <button type="button" class="secondary-button" (click)="goToPages()">
        Edit Pages
      </button>
      <button type="button" class="primary-button" (click)="createnewdog()">
        Create Dog
      </button>
    </div>
  </div>

  <div class="table-shell">
    <table>
      <thead>
        <tr>
          <th class="hide-mobile">Id</th>
          <th>Registered Name</th>
          <th class="hide-mobile">Call Name</th>
          <th class="hide-mobile">Gender</th>
          <th class="hide-mobile">Sire</th>
          <th class="hide-mobile">Dam</th>
          <th class="hide-mobile">Date of Birth</th>
          <th class="action-col">Edit</th>
        </tr>
      </thead>
      <tbody>
        @for (dog of dogs | async; track dog) {
          <tr>
            <td class="hide-mobile">{{ dog.id }}</td>
            <td>{{ dog.rname }}</td>
            <td class="hide-mobile">{{ dog.cname }}</td>
            <td class="hide-mobile">{{ dog.gender ? "Male" : "Female" }}</td>
            <td class="hide-mobile">{{ dog.sireName }}</td>
            <td class="hide-mobile">{{ dog.damName }}</td>
            <td class="hide-mobile">{{ dog.dob | date: "shortDate" }}</td>
            <td class="action-col">
              <a class="icon-link" routerLink="editdog/{{ dog.id }}" routerLinkActive="active">
                <mat-icon>edit</mat-icon>
              </a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
