@use '/src/styles/mixins' as mx;
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, .5fr));
  grid-auto-flow: dense;
  gap: 40px;
  margin-top: 20px;
  @include mx.respond-to(md) {
    max-width: 90%;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}