<div class="container">
  <div class="row">
    <div class="col mt-4">
      <p>
        At Aspenleaf Shelties, you can rely on a breeder who puts the health and
        well-being of her shelties puppies as the number one priority. Please
        complete the questionnaire and start your search regarding your future
        sheltie puppy.
      </p>
      <p>
        Receive a happy and healthy sheltie puppy when you choose the family
        oriented breeding program at Aspenleaf Shelties.
      </p>

      <p>Email now for your appointment:</p>

      <p>Kelly Davidson 970-623-0343</p>
      <p>AspenLeafShelties@gmail.com</p>
      <p>
        <a href="https://www.facebook.com/aspenleafshelties/"
          >https://www.facebook.com/aspenleafshelties/</a
        >
      </p>
    </div>
  </div>
</div>
