main {
  height: 100%;
}
nav {
  padding: 20px 0 0 0; 
}
nav > div {
  text-align: justify;
}
nav a {
  width: 13%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  line-height: 2.25;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #514F48;
}
nav a:visited, a:link {
  color: #514F48;
}
nav a:hover {
  color: #79776C;
}

nav a.active {
  color: #79776C;
}