<app-enterdogsnav></app-enterdogsnav>
<div class="row">
    <div class="col">
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop(boypages,$event)">
            <div class="row">
                <div class="col">
                    <h1>Boys</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form class="example-form" (ngSubmit)="addnewdog(pageselect.value,boypages)">
                        <mat-form-field class="example-full-width">
                            <input type="text" placeholder="Pick one" aria-label="Number" matInput
                                [formControl]="pageselect" [matAutocomplete]="boys">
                            <mat-autocomplete autoActiveFirstOption #boys="matAutocomplete" [displayWith]="displayFn">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                    {{option.rname}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <button type="submit" md-raised-button>Add</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="example-box" *ngFor="let item of boypages; let i = index" cdkDrag>
                        <mat-icon class="black-icon" (click)="removedog(boypages, i)">remove_circle</mat-icon>
                        {{item.dog.rname}}<mat-icon class="black-icon">drag_handle</mat-icon>
                    </div>
                </div>
            </div>
        </div>

        <div cdkDropList class="example-list" (cdkDropListDropped)="drop(girlpages,$event)">
            <div class="row">
                <div class="col">
                    <h1>Girls</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form class="example-form" (ngSubmit)="addnewdog(pageselect.value,boypages)">
                        <mat-form-field class="example-full-width">
                            <input type="text" placeholder="Pick one" aria-label="Number" matInput
                                [formControl]="pageselect" [matAutocomplete]="girls">
                            <mat-autocomplete #girls="matAutocomplete" [displayWith]="displayFn">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                    {{option.rname}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <button type="submit" md-raised-button>Add</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="example-box" *ngFor="let item of girlpages; let i = index" cdkDrag>
                        <mat-icon class="black-icon" (click)="removedog(girlpages, i)">remove_circle</mat-icon>
                        {{item.dog.rname}}<mat-icon class="black-icon">drag_handle</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div cdkDropList class="example-list" (cdkDropListDropped)="drop(availablepages,$event)">
                    <div class="row">
                        <div class="col">
                            <h1>Available</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <form class="example-form" (ngSubmit)="addnewdog(pageselect.value,boypages)">
                                <mat-form-field class="example-full-width">
                                    <input type="text" placeholder="Pick one" aria-label="Number" matInput
                                        [formControl]="pageselect" [matAutocomplete]="avail">
                                    <mat-autocomplete #avail="matAutocomplete" [displayWith]="displayFn">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                            {{option.rname}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <button type="submit" md-raised-button>Add</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="example-box" *ngFor="let item of availablepages; let i = index" cdkDrag>
                                <mat-icon class="black-icon" (click)="removedog(availablepages, i)">remove_circle
                                </mat-icon>
                                {{item.dog.rname}}<mat-icon class="black-icon">drag_handle</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>