
/* change the brand and text color */
.navbar-brand,
.dropdown-item,
.navbar-custom .navbar-text {
    color: #1d3521;
    font-size: 1.75em;
    font-family: 'Archivo', sans-serif
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link
 {
    color: #a6c4b0;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }

.dropdown-item > a {
    font-size: 2vw;
    color: #1d3521;
}
/* change the color of active or hovered links */
.active > a:hover,
.active > a:active,
.active > a:focus,
.dropdown-item:active,
.dropdown-item.active,
.navbar-brand.active,
.navbar-brand:active,
.open a,
.open,
 a:focus {
    color: #1d3521;
    background-color: #a6c4b0
}
