<nav class="site-nav" aria-label="Primary">
  <mat-toolbar class="site-toolbar" color="primary">
    <a class="brand" routerLink="/home">Aspenleaf Shelties</a>

    <span class="toolbar-spacer"></span>

    <div class="site-links">
      <a mat-button routerLink="/available">Available</a>
      <a mat-button routerLink="/dogs">Our Dogs</a>
      <a mat-button routerLink="/getting-a-sheltie">Getting a Sheltie</a>
      <a mat-button routerLink="/faq">FAQ</a>
      <a mat-button routerLink="/about">About</a>
      <a mat-button routerLink="/resources">Resources</a>
    </div>
  </mat-toolbar>
</nav>