@if (dog) {
  <!-- eslint-disable-next-line @angular-eslint/template/interactive-supports-focus -->
  <article class="dog-card" (click)="goDogDetails()" (keypress)="goDogDetails()">
    <header class="dog-card__header">
      <h2>{{ dog.rname }}</h2>
    </header>

    <div class="dog-card__body">
      <div class="dog-card__image-wrap">
        <img src="{{ dog.profileImageUrl }}" alt="Picture of {{ dog.cname }}" />
      </div>

      <div class="dog-card__details">
        <div class="dog-card__facts">
          <dl>
            <dt>Call Name</dt>
            <dd>{{ dog.cname }}</dd>
          </dl>
          <dl>
            <dt>Date of Birth</dt>
            <dd>{{ dog.dob | date: "longDate" }}</dd>
          </dl>
          <dl>
            <dt>Sire</dt>
            <dd>{{ dog.sireName }}</dd>
          </dl>
          <dl>
            <dt>Dam</dt>
            <dd>{{ dog.damName }}</dd>
          </dl>
        </div>

        <div class="dog-card__comment">
          <p>{{ dog.comments }}</p>
        </div>
      </div>
    </div>
  </article>
}
<!-- <a *ngIf="!showInput" (click)="toggleInput()">Edit</a>
<input *ngIf="showInput" type="text" value="{{dog.rname}}"> -->
