.eachdog{
    border-radius: .2em;
    background-color: #a6c4b0;
}
.itemtitle {
    background-color: #1d3521;
    color: #e5f4fc;
}

.listdetails dd,dt {
    margin-left:1em;
    display: block;
    font-size: .8em;
}

img {
    width: 100%;
    min-width: 100%;
}