<div class="row ">
    <div class="col mt-2 eachdog rounded-top">
        <div *ngIf="dog" (click)="goDogDetails()">
            <div class="row">
                <div class="col itemtitle py-2">
                    {{dog.rname}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-lg-4 p-0">
                    <img src="{{dog.profileImageUrl}}">
                </div>
                <div class="col-xs-12 col-lg-8 listdetails">
                    <div class="row mt-3">
                        <dl class="col-6 col-lg-3">
                            <dt>Call Name</dt>
                            <dd>{{dog.cname}}</dd>
                        </dl>
                        <dl class="col-6 col-lg-3">
                            <dt>Date of Birth</dt>
                            <dd>{{dog.dob | date:'longDate'}}</dd>
                        </dl>
                        <dl class="col-6 col-lg-3">
                            <dt>Sire</dt>
                            <dd>{{dog.sireName}}</dd>
                        </dl>
                        <dl class="col-6 col-lg-3">
                            <dt>Dam</dt>
                            <dd>{{dog.damName}}</dd>
                        </dl>
                        <div class="col mb-3">
                            <dd>{{dog.comments}}</dd>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <a *ngIf="!showInput" (click)="toggleInput()">Edit</a>
<input *ngIf="showInput" type="text" value="{{dog.rname}}"> -->