<table mat-table [dataSource]="filteredDogs$">

  <ng-container matColumnDef="cname">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let dog"> {{dog.cname}} </td>
  </ng-container>

  <ng-container matColumnDef="rname">
    <th mat-header-cell *matHeaderCellDef>Registered Name </th>
    <td mat-cell *matCellDef="let dog"> {{dog.rname}} </td>
  </ng-container>
  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef>Gender</th>
    <td mat-cell *matCellDef="let dog">{{dog.gender == true ? "Male" : "Female"}}</td>
  </ng-container>
  <ng-container matColumnDef="sire">
    <th mat-header-cell *matHeaderCellDef>Sire</th>
    <td mat-cell *matCellDef="let dog"> {{dog.sireName}} </td>
  </ng-container>
  <ng-container matColumnDef="damn">
    <th mat-header-cell *matHeaderCellDef>Damn</th>
    <td mat-cell *matCellDef="let dog"> {{dog.damnName}} </td>
  </ng-container>
  <ng-container matColumnDef="dob">
    <th mat-header-cell *matHeaderCellDef>Date of Birth</th>
    <td mat-cell *matCellDef="let dog">{{dog.dob | date:'shortDate'}}</td>
  </ng-container>
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let dog"><mat-icon [routerLink]="['/edit', dog.id]">edit</mat-icon></td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- 
            <td>{{dog.rname}}</td>
            <td class="d-none d-sm-table-cell">{{dog.cname}}</td>
            <td class="d-none d-sm-table-cell">{{dog.gender === true ? "Male" : "Female"}}</td>
            <td class="d-none d-sm-table-cell">{{dog.sireName}}</td>
            <td class="d-none d-sm-table-cell">{{dog.damName}}</td>
            <td class="d-none d-sm-table-cell">{{dog.dob | date:'shortDate'}}</td>
            <td><a routerLink="editdog/{{dog.id}}" routerLinkActive="active">
                <mat-icon class="black-icon">edit</mat-icon>
              </a></td>
          </tr>
        </tbody>
      </table>
      <mat-icon class="black-icon" (click)="createnewdog()">add_circle</mat-icon> -->