<section class="section section--tight">
  <div class="container stack">
    <mat-card>
      <mat-card-content class="stack prose">
        <h1>Our Shelties</h1>
        <p>Meet the boys and girls we keep and showcase as part of the Aspenleaf program.</p>
      </mat-card-content>
    </mat-card>

    <mat-tab-group animationDuration="0ms" mat-align-tabs="start" mat-stretch-tabs="false">
      @for (tab of tabs; track tab.label; let tabIndex = $index) {
        <mat-tab [label]="tab.label">
          <ng-template matTabContent>
            <div class="tab-panel">
              @if (tab.dogs.length) {
                <div class="listing-grid">
                  @for (dog of tab.dogs; track dog.id; let isFirst = $first) {
                    <app-dogs [dog]="dog" [prioritizeImage]="isFirst && tabIndex === 0"></app-dogs>
                  }
                </div>
              } @else {
                <mat-card>
                  <mat-card-content class="stack prose">
                    <h2>{{ tab.emptyTitle }}</h2>
                    <p>{{ tab.emptyMessage }}</p>
                  </mat-card-content>
                </mat-card>
              }
            </div>
          </ng-template>
        </mat-tab>
      }
    </mat-tab-group>
  </div>
</section>
