@use 'styles/theme';
@use 'styles/variables' as *;
@use 'styles/mixins' as mx;

/* You can add global styles to this file, and also import other style files */


html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  font-size: 16px;

}
p {
  font-size: 1em;
}

mat-sidenav-container {
  flex: auto;
  align-content: center;
}