// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$light-primary-text: mat.get-color-from-palette(mat.$amber-palette, 50);
$aspenleaf_green: (
  50: #002111,
  100: #bdddcf,
  200: #96c7b1,
  300: #74b195,
  400: #61a081,
  500: #559071,
  600: #4e8366,
  700: #467359,
  800: #3e634d,
  900: #304737,
  contrast: (50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text)
);
$aspenleaf_blue: (
  50: #e4f1f1,
  100: #bbdddd,
  200: #92c8c7,
  300: #6eb1af,
  400: #5ba19e,
  500: #5ba19e,
  600: #4c837f,
  700: #46736f,
  800: #42635f,
  900: #394644,
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text
    )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$aspenleafshelties-primary: mat.define-palette($aspenleaf_green, 700, 500, 900);
$aspenleafshelties-accent: mat.define-palette(mat.$amber-palette, 400, 50, 700);

// The warn palette is optional (defaults to red).
$aspenleafshelties-warn: mat.define-palette(mat.$red-palette);

$primary-light: #006d44;
$on-primary-light: #ffffff;
$primary-container-light: #91f7be;
$on-primary-container-light: #002111;
$secondary-light: #4e6355;
$on-secondary-light: #ffffff;
$secondary-container-light: #d0e8d6;
$on-secondary-container-light: #0b1f15;
$tertiary-light: #3c6471;
$on-tertiary-light: #ffffff;
$tertiary-container-light: #bfe9f9;
$on-tertiary-container-light: #001f27;
$error-light: #ba1a1a;
$error-container-light: #ffdad6;
$on-error-light: #ffffff;
$on-error-container-light: #410002;
$background-light: #fbfdf8;
$on-background-light: #191c1a;
$surface-light: #fbfdf8;
$on-surface-light: #191c1a;
$surface-variant-light: #dce5dc;
$on-surface-variant-light: #404942;
$outline-light: #707972;
$inverse-on-surface-light: #eff1ed;
$inverse-surface-light: #2e312e;
$inverse-primary-light: #74daa3;
$shadow-light: #000000;
$surface-tint-light: #006d44;
$outline-variant-light: #c0c9c0;
$scrim-light: #000000;

$my-light-theme-foreground-palette: (
  base: #467359,
  divider: rgba(black, 0.12),
  dividers: rgba(black, 0.12),
  disabled: rgba(black, 0.38),
  disabled-button: rgba(black, 0.26),
  disabled-text: rgba(black, 0.38),
  elevation: black,
  hint-text: rgba(black, 0.38),
  secondary-text: rgba(black, 0.54),
  icon: rgba(black, 0.54),
  icons: rgba(black, 0.54),
  text: rgba(black, 0.87),
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);

// Foreground palette for light themes.
$my-light-theme-background-palette: (
  status-bar: #e0e0e0,
  app-bar: #f5f5f5,
  background: $background-light,
  hover: #fafafa,
  card: $surface-variant-light,
  dialog: white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: rgba(black, 0.12),
  selected-button: #e0e0e0,
  selected-disabled-button: #e0e0e0,
  disabled-button-toggle: #eeeeee,
  unselected-chip: #e0e0e0,
  disabled-list-option: #eeeeee,
  tooltip: #616161,
);

$custom-theme: (
  color: (primary: $aspenleafshelties-primary,
    accent: $aspenleafshelties-primary,
    warn: $aspenleafshelties-warn,
    foreground: $my-light-theme-foreground-palette,
    background: $my-light-theme-background-palette,
  ),
  is-dark: false,

);


// The rest of this is like a normal theme.scss file. The only difference being that we use create-wonky-theme instead of mat-light-theme
@include mat.all-component-themes($custom-theme);


/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

.mat-card {
  background-color: mat.get-color-from-palette(mat.$amber-palette, 50);
}