@use 'styles/theme';
@use 'styles/variables' as *;
@use 'styles/mixins' as mx;

/* You can add global styles to this file, and also import other style files */


html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;

}

mat-sidenav-container {
  flex: auto;
  align-content: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  @include mx.respond-to(md) {
    max-width: 90%;

  }

  @include mx.respond-to(sm) {
    max-width: 85%;
  }
}