<mat-sidenav-content>
<div class="splash">
</div>
<div>
<h1>Welcome to Aspenleaf Shelties</h1>
<h2>Quality Shetland Sheepdogs</h2>
</div>
</mat-sidenav-content>

<mat-sidenav-content class="welcome">
<p>

  Aspenleaf Shelties was founded in 2008. We started our journey on a small
  farm in Northwest Colorado.
</p>
</mat-sidenav-content>
<mat-sidenav-content>
      Since that time, we have bred or owned several
      Champions, with Best of Breed winners, and Multi Herding Group placements
      and Specialty winners, and most importantly lovable family companions.
      In 2021 we moved to Northeast Georgia were we continue to breed and raise
      our beloved companions.
    </mat-sidenav-content>

      I work at home, as such all the dogs spend their time running and playing
      outdoors as well as lounging on the couch and relaxing amongst the family.
<mat-card>

    <img
    mat-card-image
    src="assets/images/JewelsBestinBreed072023.webp"
    sizes="100vw"
    class="rounded img-fluid mr-1 mr-md-4 floatingimgs"
    alt="Jewels wins best in breed"
    />
  </mat-card>
  <mat-card mat-card-image
    src="assets/images/ConwayBestinBreed2022.webp"
    alt="Conway wins best in breed"
  />

<p style="text-align: center">
  Aspenleaf Shelties
  <br />
  Kelly & Mitchell Davidson
  <br />
  Dewy Rose, Georgia
  <br />
  970-623-0343
  <br />
  <!-- <a href="mailto:AspenleafShelties@gmail.com">aspenleafshelties@gmail.com</a> -->
</p>
