img {
    max-width: 100%;
}
.banner {
    background: #a6c4b0;
    color: #fff;
    text-align: center;
    font-size: 2.25vw;
    height: 110px;
}

.banner a {
    font-family: Brush Script MT, Brush Script Std, cursive;
     color:inherit;
     font-size: 3vw;
}

.splash{
    margin: 1vw
}
