<div class="container-fluid">
  <div class="row banner align-items-center">
    <div class="splash col-lg-8">
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col title mb-lg-5">
          <!-- center text -->
          Aspenleaf Shelties
        </div>
      </div>
      <div class="row">
        <div class="col breedertext">
          Quality Shetland Sheepdog Breeder
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col ml-lg-1 pb-lg-4">
      </div>
    </div>
  </div>


  <!-- margin same -->
  <div class="row my-3">
    <div class="col-lg-8 mx-auto">
      <p>
        Aspenleaf Shelties was founded in 2008. Since then, we have bred or owned several Champions, with  Best of Breed
        winners, and Multi Herding Group placements and Specialty winners, and many top producers.

      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <img src="assets\images\NOHS_Evergreen_2018.jpg" class="rounded img-fluid mr-1 mr-md-4 floatingimgs">
    </div>
    <div class="col-lg-8 mx-auto my-4">
      <img src="assets\images\kruz1_BOS_Longmont.jpg" class="rounded img-fluid mr-1 mr-md-4 floatingimgs">
    </div>
    <div class="col-lg-8 mx-auto mt-5">
      <!-- centered -->
      <p style="text-align: center;">
        Aspenleaf Shelties
      </p>
      <p style="text-align: center;">
        Kelly & Mitchell Davidson
      </p>
      <p style="text-align: center;">
        Craig, Colorado
      </p>
      <p style="text-align: center;">
        970-623-0343
      </p>
      <p style="text-align: center;">
        <a href="mailto:AspenleafShelties@gmail.com">aspenleafshelties@gmail.com</a>
      </p>
    </div>
    <div class="col-12 mt-2 p-0">
      <img src='/assets/images/playinginsnow.jpg' class="w-100">
    </div>
  </div>

</div>