<div class="container-fluid">
  <div class="row banner align-items-center">
    <div class="splash col-md-9">
    </div>
    <div class="col-md-3">
      <div class="row ">
        <div class="col title  ml-md-1 text-nowrap">
          Aspenleaf Shelties
        </div>
      </div>
      <div class="row mt-5 ml-5">
        <div class="col breedertext">
          Quality Shetland Sheepdog Breeder
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col ml-md-1 pb-md-4">
      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-lg-8 mx-auto">
      <p>
        Aspenleaf Shelties was founded in 2008. Since then, we have bred or owned several Champions, with  Best of Breed
        winners, and Multi Herding Group placements and Specialty winners, and many top producers.

      </p>
      <img src="assets\images\kruz1_BOS_Longmont.jpg" class="rounded img-fluid mr-1 mr-md-4 floatingimgs">
    </div>
  </div>
  <div class="row my-5">
    <div class="col-lg-8 mx-auto my-4">
      <img src="assets\images\NOHS_Evergreen_2018.jpg" class="rounded img-fluid mr-1 mr-md-4 floatingimgs">
    </div>
  </div>
  <div class="row my-5 ">
    <div class="col-lg-8 mx-auto ">
      <p>
        Aspenleaf Shelties
      </p>
      <p>
        Kelly & Mitchell Davidson
      </p>
      <p>
        Craig, Colorado
      </p>
      <p>
        970-623-0343 | <a href="mailto:AspenleafShelties@gmail.com">aspenleafshelties@gmail.com</a>
      </p>


    </div>
  </div>
  <div class="row mt-1">

    <div class="col">
      <img src='/assets/images/playinginsnow.jpg'>
    </div>

  </div>
</div>