img {
    max-width: 100%;
}
.banner {
    background: #a6c4b0;
    color: #a6bac4;
    text-align: center;
    font-size: 3vw;
    height: 110px;
}

.banner a {
    font-family: 'Noto Serif', serif;
     color:inherit;
     font-size: 4vw;
}

.container-fluid {
    height: 100%;
}

.splash{
    margin: 1vw;
    background: #1d3521;
}
.title { 
    font-family: 'Noto Serif', serif;
    font-size: 2.5vw;
    color: #b0c4a6;
    
}
.breedertext { 
    font-family: 'Archivo', sans-serif;
    color: #a6bac4;
}




