img {
    width: 100%;
}
.banner {
    background: #1d3521;
}

.container-fluid {
    width: 100%;
}

.splash{
    background: #1d3521;
    width: 100%;
    padding-top: 35%;
    background-image: url("/assets/images/conway.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: left 25%;
}

@media(min-width: 768px){
    .splash {
        background-image: url("/assets/images/conway.webp") ;
    }
}

.title { 
    font-family: 'Noto Serif', serif;
    font-size: 30px;
    color: #b0c4a6;
    text-align: center;
    white-space: nowrap;
    
}
.breedertext { 
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    color: #a6bac4;
    text-align: center;
    white-space: nowrap;
}
.floatingimgs { 
    border: 2px solid #1d3521;
}
.snowdogs{
    width: 100%;
    
}



