<input type="file" (change)="fileChangeEvent($event)" accept="image/x-png"/>
<button type="button" (click)="onUpload()">Upload</button>

<image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="160 / 160"
    [resizeToWidth]="128"
    resizeToWidth= "960"
    onlyScaleDown = "true"
    format="png"
    outputType='base64'
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
></image-cropper>

<img [src]="croppedImage" />