@use '/src/styles/mixins' as mx;

p {
  padding: 20px;
}

.container {

  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 20px);
  margin: auto;

  @include mx.respond-to(md) {
    max-width: 1000px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

mat-card-header {
  margin-bottom: 10px;
}

mat-card {
  min-width: 400px;
  max-width: 400px;
  margin: 0 auto;

  @include mx.respond-to(sm) {
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }

  .comments {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    height: 7em;
    text-overflow: ellipsis;

  }
}