@use '/src/styles/mixins' as mx;
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, .5fr));
  grid-auto-flow: dense;
  gap: 40px;
  margin-top: 20px;
  @include mx.respond-to(md) {
    max-width: 90%;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

p {
  padding: 20px;
}
mat-card {
  img {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }

  .comments {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    height: 7em;
    text-overflow: ellipsis;

  }
}
mat-card-header {
  margin-bottom: 10px;
}
